/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #F7FF61;
  }
  
  body {
    width: 100%;
    min-width: 800px;
    margin: 0 auto;
  }
  
  /* || typography */
  
  h1, h2 {
    font-family: 'Luckiest Guy', cursive;
    color: #F6FF47;
  }
  
  p, input, li {
    font-family: lorem ipsum;
    color: black;
  }
  
  h1 {
    font-size: 7rem;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    text-shadow: 2px 2px 10px #F6FF47;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: normal;
    text-align: left;
    color: black;
  }
  
  
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .jobtitle {
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
  }


  /* || header layout */
  
  .header {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    background-color: #650EB3;
    padding: 15px;
    justify-content: center;
    top: 50%;
    bottom: 50%;
  }
  
  body {
    background-color: #F7FF61;
    padding: 1%;
  }

  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  .header img {
    display: block;
    height: 150px;
    width: 150px;
    padding-top: 20.15px;
    align-items: right;
  }

  .wrapper {
    justify-content: center;
    top: 50%;
    left: 50%;
  }

  .container {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
  }           

  .one {
    flex: 33.33%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  .one img {
    display: block;
    height: 350px;
    width: 250px;
    border: 1px #A947FF; 
    border-radius: 4px;
    margin: 25px;
  }

  .caption {
    background: #A947FF;
    background-size: auto;
    padding: 1%;
  }
  
  .two {
    background: #A947FF;
    padding: 1%;
    flex: 66.67%;
  }

  @media screen and (max-width: 1000px){
    .one{
      flex-direction: row;
      align-items: center;
    }
    .container{
      flex-direction: column;
      justify-content: center;
    }
  }


  